header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
  margin-bottom: 20px;
}

header .hero-img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .hero-img img {
  width: 50%;
}

header .hero-text {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

header .hero-text h1 {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 5px;
}

header .hero-text p {
  font-size: 14px;
  color: #333;
  font-family: "Poppins", sans-serif;
}

header .hero-text button {
  width: 100px;
  height: 35px;
  border-radius: 5px;
  border: 2px solid crimson;
  font-weight: bold;
  margin-top: 10px;
  color: crimson;
  background: transparent;
}

header .hero-text button:hover {
  background-color: crimson;
  color: #fff;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.products {
  margin: 40px 0px;
  overflow: hidden;
}

.products h1 {
  text-align: center;
  padding: 0 20px;
}

.products .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

.products .cards .card {
  width: 45%;
  padding: 15px 10px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 2px rgba(51, 51, 51, 0.39);
          box-shadow: 1px 1px 2px rgba(51, 51, 51, 0.39);
  margin: 10px 3px;
  position: relative;
}

.products .cards .card .discount {
  position: absolute;
  padding: 2px;
  font-size: 12px;
  top: 0px;
  right: 0px;
  background-color: red;
  color: white;
  border-radius: 3px;
}

.products .cards .card img {
  width: 100%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
}

.products .cards .card .info h3 {
  font-size: 14px;
}

.products .cards .card .info .price {
  margin-top: 4px;
  color: crimson;
}

.products .cards .card .info .cta {
  margin-top: 10px;
}

.products .cards .card .info .cta .price {
  font-size: 14px;
  color: crimson;
  margin-bottom: 10px;
}

.products .cards .card .info .cta button {
  width: 100%;
  height: 30px;
  color: crimson;
  border: 1px solid crimson;
  font-weight: bold;
  background: transparent;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.products .cards .card .info .cta button:hover {
  background-color: crimson;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  color: white;
}

.active {
  display: block;
}

.coming-soon {
  height: auto;
  width: 100%;
  margin: 20px 0;
}

.coming-soon .coming-soon-img {
  width: 100%;
}

.coming-soon .coming-soon-img img {
  width: 100%;
}

.coming-soon .coming-soon-text {
  padding: 20px;
}

.coming-soon .coming-soon-text h1 {
  font-size: 22px;
}

.coming-soon .coming-soon-text p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin: 15px 0;
  color: #333;
}

.coming-soon .coming-soon-text button {
  width: 120px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  height: 35px;
  border-radius: 5px;
  background-color: crimson;
  border: none;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .menu {
    display: none !important;
  }
  nav {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100px;
    margin: 10px;
    padding: 40px;
    padding-top: 20px;
    margin-bottom: 40px !important;
  }
  nav .logo {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 50%;
  }
  nav .navlinks {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative !important;
    background: none !important;
  }
  nav .navlinks li {
    margin-right: 10px;
    background: none !important;
  }
  nav .navlinks li a:hover {
    -webkit-transition: 0.4s ease-out;
    transition: 0.4s ease-out;
    color: crimson;
  }
  header,
  section,
  footer {
    padding: 10px 50px !important;
  }
  header {
    margin-top: 20px !important;
    height: 400px !important;
  }
  header .hero-img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .hero-img img {
    width: 80%;
  }
  .card {
    width: 20% !important;
  }
}

@media (min-width: 800px) {
  header,
  section,
  footer {
    margin: 10px 40px;
  }
}

@media (min-width: 560px) {
  .nav,
  header,
  section,
  footer {
    margin: 10px 20px;
  }
  header {
    height: 60vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header .hero-img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  header .hero-img img {
    width: 80%;
  }
  .card {
    width: 30% !important;
  }
  .card h3 {
    font-size: 20px !important;
  }
  .card h5 {
    font-size: 15px !important;
    font-weight: bold;
  }
  .coming-soon {
    height: 60vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .coming-soon .coming-soon-img {
    width: 40%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .coming-soon .coming-soon-img img {
    width: 100%;
  }
  .coming-soon .coming-soon-text {
    width: 55%;
  }
  .coming-soon .coming-soon-text p {
    width: 100% !important;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  position: relative;
  background-color: #ececec;
}

.nav {
  margin: 10px;
  position: relative;
}

.menu {
  width: 30px;
  height: 30px;
  margin-top: 2px;
  position: absolute;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 100%;
}

.menu .fa-bars {
  font-size: 17px;
}

nav {
  margin-bottom: 20px;
  width: 100%;
}

nav .logo {
  display: block;
}

nav .logo h1 {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

nav .logo h1 span {
  color: #ec0936;
}

nav .navlinks {
  position: absolute;
  display: none;
  width: 100%;
  position: absolute;
  background-color: #fff;
  list-style: none;
  text-align: center;
}

nav .navlinks li {
  padding: 5px;
}

nav .navlinks li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav .navlinks li:hover {
  color: white;
  background-color: crimson;
}

.navlinks.active {
  display: block;
}
/*# sourceMappingURL=main.css.map */